# Capstone Project - Big 10 Schools

## Introduction

Acording to the American Psychological Association, mental health within college students is a growing concern, since the number of students with significant psychological problems has increased during the last years. 

Anxiety is the top presenting concern among college students (41.6 percent), followed by depression (36.4 percent). On average, 24.5 percent of students take psychotropic medications. Additionally, 40 percent present mild mental health concerns.

Is necesary that students keep a healthy life where they can be involved in activities outside of campus according to their interests. Yet, in some cases, college towns don't have as much diversity on the activities available for students and therefore are not a good fit for some individuals. As a result, incoming undergraduates and graduates should be able to study their options weighting the kind of activities available. In the same manner, it would be possible to analize the different bussiness oportunities in each of these universities.

In this study, we will analize the venues in the Big 10 member colleges, and we will cluster them to analyze what are the most prominents venues and how would that affect life of students.

## Data

Since the study will be applied to Big 10 Schools, they will be extracted from an online list. Then, the location of each will be looked for through geopy.

For this project Foursquare databases will be used as the main source to find the venues on each school. They will be accessed by explore requirements on the location of each university.From there, we will find the name, category and location of the venues. This data will be augmentated by adding the broad category of each venue with the use of the Foursquare Venue Category Hierarchy JSON file, that will be flattened to obtain all categories and the corresponding parent (broad) category. 

They venues will be analized in both specific and broad venue categories to profile each university. The percentage of each of the categories in the town will be used to cluster and analize the advantages and disadvantages of each location for different types of personalities, and explore possible bussiness oportunities in the area.

## Methodology

In [1]:
import requests

CLIENT_ID = 'BZEGAEE1G0YMB0MQKCJ4VA4DBHZ4KCDAXSYZL5IPT1RVKFFB'
CLIENT_SECRET = 'RQSTQNRRCXQNLDN4UBKV213J3UO53Y4OZGSHQRBQEHZYZB5U'
VERSION = '20200417'

url = 'https://api.foursquare.com/v2/venues/categories?&client_id={}&client_secret={}&v={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)

r = requests.get(url).json()

In [2]:
import pandas as pd
from pandas import json_normalize
bigcategories=json_normalize(r['response']['categories'])
categories=[]
a=json_normalize(r['response']['categories'], record_path=['categories','categories','categories','categories'], meta=['id','name'], record_prefix='_')
categories=a[['_name','_id','id','name']]
a=json_normalize(r['response']['categories'], record_path=['categories','categories','categories'], meta=['id','name'], record_prefix='_')
categories=categories.append(a[['_name','_id','id','name']])
a=json_normalize(r['response']['categories'], record_path=['categories','categories'], meta=['id','name'], record_prefix='_')
categories=categories.append(a[['_name','_id','id','name']])
a=json_normalize(r['response']['categories'], record_path=['categories'], meta=['id','name'], record_prefix='_')
categories=categories.append(a[['_name','_id','id','name']])
categories

,_name,_id,id,name
0,Acai House,5294c7523cf9994f4e043a62,4d4b7105d754a06374d81259,Food
1,Baiano Restaurant,52939ae13cf9994f4e043a3b,4d4b7105d754a06374d81259,Food
2,Central Brazilian Restaurant,52939a9e3cf9994f4e043a36,4d4b7105d754a06374d81259,Food
3,Churrascaria,52939a643cf9994f4e043a33,4d4b7105d754a06374d81259,Food
4,Empada House,5294c55c3cf9994f4e043a61,4d4b7105d754a06374d81259,Food
...,...,...,...,...
454,Train Station,4bf58dd8d48988d129951735,4d4b7105d754a06379d81259,Travel & Transport
455,Tram Station,52f2ab2ebcbc57f1066b8b51,4d4b7105d754a06379d81259,Travel & Transport
456,Transportation Service,54541b70498ea6ccd0204bff,4d4b7105d754a06379d81259,Travel & Transport
457,Travel Lounge,4f04b25d2fb6e1c99f3db0c0,4d4b7105d754a06379d81259,Travel & Transport
458,Tunnel,52f2ab2ebcbc57f1066b8b4a,4d4b7105d754a06379d81259,Travel & Transport

In [3]:
link="https://blog.prepscholar.com/big-10-schools"
tables=pd.read_html(link, header=0)
schools=tables[0]
schools=schools.drop(['Undergraduate Enrollment', 'Average SAT Score','Average ACT Score', 'Acceptance Rate'], axis=1)
schools

                            School             Location
0          Northwestern University         Evanston, IL
1           University of Michigan        Ann Arbor, MI
2          University of Minnesota      Minneapolis, MN
3           University of Maryland     College Park, MD
4          University of Wisconsin          Madison, WI
5        The Ohio State University         Columbus, OH
6            Penn State University  University Park, PA
7               Rutgers University    New Brunswick, NJ
8                Purdue University   West Lafayette, IN
9           University of Illinois        Champaign, IL
10       Michigan State University     East Lansing, MI
11  University of Nebraska-Lincoln          Lincoln, NE
12              Indiana University      Bloomington, IN
13              University of Iowa        Iowa City, IA

In [4]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
latlog = pd.DataFrame(columns=['School','Latitude', 'Longitude'])
for i in schools['School']:
    loc = geolocator.geocode(i)
    lat=loc.latitude
    log=loc.longitude
    latlog=latlog.append({'School':i, 'Latitude':lat,'Longitude':log }, ignore_index=True)
latlog

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.

                            School   Latitude  Longitude
0          Northwestern University  42.055116 -87.675811
1           University of Michigan  42.294214 -83.710039
2          University of Minnesota  44.973086 -93.237088
3           University of Maryland  38.992030 -76.946103
4          University of Wisconsin  44.851978 -92.616756
5        The Ohio State University  40.005709 -83.028663
6            Penn State University  40.803448 -77.859119
7               Rutgers University  40.500076 -74.445792
8                Purdue University  40.431958 -86.923911
9           University of Illinois  40.141058 -88.255202
10       Michigan State University  42.719204 -84.477920
11  University of Nebraska-Lincoln  40.820739 -96.700491
12              Indiana University  39.169100 -86.519790
13              University of Iowa  41.665901 -91.573188

In [5]:
sch = pd.merge(schools, latlog, on='School', how='left')
sch

                            School             Location   Latitude  Longitude
0          Northwestern University         Evanston, IL  42.055116 -87.675811
1           University of Michigan        Ann Arbor, MI  42.294214 -83.710039
2          University of Minnesota      Minneapolis, MN  44.973086 -93.237088
3           University of Maryland     College Park, MD  38.992030 -76.946103
4          University of Wisconsin          Madison, WI  44.851978 -92.616756
5        The Ohio State University         Columbus, OH  40.005709 -83.028663
6            Penn State University  University Park, PA  40.803448 -77.859119
7               Rutgers University    New Brunswick, NJ  40.500076 -74.445792
8                Purdue University   West Lafayette, IN  40.431958 -86.923911
9           University of Illinois        Champaign, IL  40.141058 -88.255202
10       Michigan State University     East Lansing, MI  42.719204 -84.477920
11  University of Nebraska-Lincoln          Lincoln, NE  40.820739 -96.700491
12              Indiana University      Bloomington, IN  39.169100 -86.519790
13              University of Iowa        Iowa City, IA  41.665901 -91.573188

In [6]:
import requests
def getNearbyVenues(names, latitudes, longitudes, radius=10000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        venues_list.append([(
             name, 
             lat, 
             lng, 
             v['venue']['name'], 
             v['venue']['location']['lat'], 
             v['venue']['location']['lng'],  
             v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['School', 
        'School Latitude', 
        'School Longitude', 
        'Venue', 
        'Venue Latitude', 
        'Venue Longitude', 
        'Venue Category']
    
    return(nearby_venues)

In [7]:
LIMIT=100
venuesbyschool =[]
venuesbyschool = getNearbyVenues(names=sch['School'],
                                   latitudes=sch['Latitude'],
                                   longitudes=sch['Longitude']
                                  )
venuesbyschool

Northwestern University
University of Michigan
University of Minnesota
University of Maryland
University of Wisconsin
The Ohio State University
Penn State University
Rutgers University
Purdue University
University of Illinois
Michigan State University
University of Nebraska-Lincoln
Indiana University
University of Iowa

,School,School Latitude,School Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Northwestern University,42.055116,-87.675811,Centennial Park,42.047476,-87.674032,Park
1,Northwestern University,42.055116,-87.675811,Bennison's Bakery,42.046891,-87.685028,Bakery
2,Northwestern University,42.055116,-87.675811,Segal Visitors Center,42.050249,-87.673408,College Administrative Building
3,Northwestern University,42.055116,-87.675811,Lighthouse Beach,42.064547,-87.676488,Beach
4,Northwestern University,42.055116,-87.675811,Century Theatre,42.048936,-87.684647,Movie Theater
...,...,...,...,...,...,...,...
1340,University of Iowa,41.665901,-91.573188,U.S. Bank ATM,41.647993,-91.499054,ATM
1341,University of Iowa,41.665901,-91.573188,Dairy Queen,41.642575,-91.510397,Ice Cream Shop
1342,University of Iowa,41.665901,-91.573188,Panchero's Mexican Grill,41.751246,-91.608293,Burrito Place
1343,University of Iowa,41.665901,-91.573188,Kum & Go,41.649216,-91.501598,Gas Station
1344,University of Iowa,41.665901,-91.573188,Hoover Historic Site Rest Area,41.693618,-91.682473,Rest Area

In [8]:
venuesbyschool = pd.merge(venuesbyschool, categories[['_name','name']].rename(columns={'_name':'Venue Category'}), on='Venue Category', how='left')
venuesbyschool

,School,School Latitude,School Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category,name
0,Northwestern University,42.055116,-87.675811,Centennial Park,42.047476,-87.674032,Park,Outdoors & Recreation
1,Northwestern University,42.055116,-87.675811,Bennison's Bakery,42.046891,-87.685028,Bakery,Food
2,Northwestern University,42.055116,-87.675811,Segal Visitors Center,42.050249,-87.673408,College Administrative Building,College & University
3,Northwestern University,42.055116,-87.675811,Lighthouse Beach,42.064547,-87.676488,Beach,Outdoors & Recreation
4,Northwestern University,42.055116,-87.675811,Century Theatre,42.048936,-87.684647,Movie Theater,Arts & Entertainment
...,...,...,...,...,...,...,...,...
1340,University of Iowa,41.665901,-91.573188,U.S. Bank ATM,41.647993,-91.499054,ATM,Shop & Service
1341,University of Iowa,41.665901,-91.573188,Dairy Queen,41.642575,-91.510397,Ice Cream Shop,Food
1342,University of Iowa,41.665901,-91.573188,Panchero's Mexican Grill,41.751246,-91.608293,Burrito Place,Food
1343,University of Iowa,41.665901,-91.573188,Kum & Go,41.649216,-91.501598,Gas Station,Shop & Service
1344,University of Iowa,41.665901,-91.573188,Hoover Historic Site Rest Area,41.693618,-91.682473,Rest Area,Travel & Transport

In [9]:
number=pd.DataFrame(venuesbyschool.groupby('School').count()['Venue'])
venues = pd.merge(sch, number, on='School', how='left')
venues=venues.fillna(0)
venues=venues.sort_values(by=['Venue']).reset_index(drop=True)
venues

,School,Location,Latitude,Longitude,Venue
0,University of Wisconsin,"Madison, WI",44.851978,-92.616756,45
1,Northwestern University,"Evanston, IL",42.055116,-87.675811,100
2,University of Michigan,"Ann Arbor, MI",42.294214,-83.710039,100
3,University of Minnesota,"Minneapolis, MN",44.973086,-93.237088,100
4,University of Maryland,"College Park, MD",38.992030,-76.946103,100
5,The Ohio State University,"Columbus, OH",40.005709,-83.028663,100
6,Penn State University,"University Park, PA",40.803448,-77.859119,100
7,Rutgers University,"New Brunswick, NJ",40.500076,-74.445792,100
8,Purdue University,"West Lafayette, IN",40.431958,-86.923911,100
9,University of Illinois,"Champaign, IL",40.141058,-88.255202,100
10,Michigan State University,"East Lansing, MI",42.719204,-84.477920,100
11,University of Nebraska-Lincoln,"Lincoln, NE",40.820739,-96.700491,100
12,Indiana University,"Bloomington, IN",39.169100,-86.519790,100
13,University of Iowa,"Iowa City, IA",41.665901,-91.573188,100

### Specific Categories

In [10]:
ven_dum = pd.get_dummies(venuesbyschool[['Venue Category']], prefix="", prefix_sep="")
#ven_dum=ven_dum.insert(0,'School',sch['School'])
ven_dum['School']=venuesbyschool['School']
ven_dum

cols = list(ven_dum.columns)
cols = [cols[-1]] + cols[:-1]
ven_dum = ven_dum[cols]
ven_dum

dum_grouped = ven_dum.groupby('School').mean().reset_index()
dum_grouped

,School,ATM,African Restaurant,American Restaurant,Antique Shop,Arcade,Art Gallery,Art Museum,Asian Restaurant,Athletics & Sports,...,Video Store,Vietnamese Restaurant,Warehouse Store,Whisky Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo
0,Indiana University,0.00,0.00,0.030000,0.00,0.00,0.00,0.01,0.00,0.00,...,0.01,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.00,0.00
1,Michigan State University,0.00,0.00,0.030000,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.02,0.01
2,Northwestern University,0.00,0.00,0.010000,0.00,0.00,0.00,0.00,0.01,0.00,...,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.00,0.00
3,Penn State University,0.00,0.00,0.040000,0.00,0.00,0.00,0.00,0.02,0.00,...,0.00,0.00,0.00,0.01,0.00,0.01,0.01,0.00,0.00,0.00
4,Purdue University,0.00,0.00,0.020000,0.00,0.01,0.00,0.01,0.00,0.00,...,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,Rutgers University,0.00,0.00,0.020000,0.00,0.00,0.00,0.01,0.01,0.00,...,0.00,0.02,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00
6,The Ohio State University,0.00,0.00,0.040000,0.00,0.00,0.01,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,University of Illinois,0.00,0.00,0.030000,0.00,0.00,0.00,0.00,0.01,0.00,...,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,University of Iowa,0.01,0.00,0.050000,0.00,0.00,0.00,0.00,0.01,0.00,...,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,University of Maryland,0.00,0.02,0.050000,0.00,0.00,0.00,0.00,0.01,0.01,...,0.00,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,University of Michigan,0.00,0.00,0.010000,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.01,0.00,0.01,0.00,0.00,0.00,0.01,0.00
11,University of Minnesota,0.00,0.00,0.020000,0.01,0.00,0.01,0.01,0.01,0.00,...,0.00,0.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,University of Nebraska-Lincoln,0.00,0.00,0.020000,0.00,0.00,0.00,0.00,0.01,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
13,University of Wisconsin,0.00,0.00,0.022222,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [11]:
import numpy as np
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['School']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
venues_sorted = pd.DataFrame(columns=columns)
venues_sorted['School'] = dum_grouped['School']

for ind in np.arange(dum_grouped.shape[0]):
    venues_sorted.iloc[ind, 1:] = return_most_common_venues(dum_grouped.iloc[ind, :], num_top_venues)

venues_sorted

,School,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Indiana University,Pizza Place,Grocery Store,Fast Food Restaurant,Gym / Fitness Center,Gym,American Restaurant,Brewery,Ice Cream Shop,Mexican Restaurant,Pharmacy
1,Michigan State University,Coffee Shop,Sushi Restaurant,Bar,Grocery Store,American Restaurant,Salon / Barbershop,Ice Cream Shop,Middle Eastern Restaurant,Yoga Studio,Gym / Fitness Center
2,Northwestern University,Park,Grocery Store,Coffee Shop,Beach,Pizza Place,Bakery,Hot Dog Joint,CafÃ©,Mexican Restaurant,Mediterranean Restaurant
3,Penn State University,CafÃ©,American Restaurant,Hotel,Salon / Barbershop,Park,Coffee Shop,Ice Cream Shop,Pool,Thai Restaurant,Gas Station
4,Purdue University,Coffee Shop,Mexican Restaurant,Sandwich Place,Bakery,Grocery Store,Burger Joint,Park,Pizza Place,Bar,CafÃ©
5,Rutgers University,Pizza Place,Bakery,Coffee Shop,Italian Restaurant,Chinese Restaurant,Mediterranean Restaurant,Supermarket,Burger Joint,Bubble Tea Shop,Pet Store
6,The Ohio State University,Park,Pizza Place,Grocery Store,Coffee Shop,Ice Cream Shop,American Restaurant,CafÃ©,Bar,Italian Restaurant,Bookstore
7,University of Illinois,Mexican Restaurant,Cosmetics Shop,BBQ Joint,Clothing Store,American Restaurant,Steakhouse,Coffee Shop,Pizza Place,Bar,Chinese Restaurant
8,University of Iowa,Grocery Store,American Restaurant,Pizza Place,Coffee Shop,Gas Station,Bakery,Ice Cream Shop,Italian Restaurant,Diner,Burrito Place
9,University of Maryland,Grocery Store,Brewery,American Restaurant,Pizza Place,Coffee Shop,Convenience Store,Gym,Italian Restaurant,Burger Joint,Salad Place
10,University of Michigan,Grocery Store,Park,Coffee Shop,Gym,Mexican Restaurant,Breakfast Spot,Bakery,Music Venue,Bookstore,Vegetarian / Vegan Restaurant
11,University of Minnesota,Brewery,Park,Theater,Pizza Place,Liquor Store,Mexican Restaurant,Coffee Shop,Vietnamese Restaurant,New American Restaurant,Farmers Market
12,University of Nebraska-Lincoln,Mexican Restaurant,Brewery,Coffee Shop,Burger Joint,Chinese Restaurant,Pizza Place,Bakery,Fried Chicken Joint,Grocery Store,Park
13,University of Wisconsin,Bar,Pizza Place,Sandwich Place,Convenience Store,Golf Course,Liquor Store,Brewery,Park,Fast Food Restaurant,Mexican Restaurant

In [12]:
from sklearn.cluster import KMeans

kclusters = 5

grouped_clustering = dum_grouped.drop('School', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_

array([0, 0, 3, 0, 0, 0, 3, 0, 2, 2, 3, 4, 0, 1])

In [13]:
venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

klusterdf = sch
klusterdf= klusterdf.join(venues_sorted.set_index('School'), on='School')
klusterdf

,School,Location,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Northwestern University,"Evanston, IL",42.055116,-87.675811,3,Park,Grocery Store,Coffee Shop,Beach,Pizza Place,Bakery,Hot Dog Joint,CafÃ©,Mexican Restaurant,Mediterranean Restaurant
1,University of Michigan,"Ann Arbor, MI",42.294214,-83.710039,3,Grocery Store,Park,Coffee Shop,Gym,Mexican Restaurant,Breakfast Spot,Bakery,Music Venue,Bookstore,Vegetarian / Vegan Restaurant
2,University of Minnesota,"Minneapolis, MN",44.973086,-93.237088,4,Brewery,Park,Theater,Pizza Place,Liquor Store,Mexican Restaurant,Coffee Shop,Vietnamese Restaurant,New American Restaurant,Farmers Market
3,University of Maryland,"College Park, MD",38.992030,-76.946103,2,Grocery Store,Brewery,American Restaurant,Pizza Place,Coffee Shop,Convenience Store,Gym,Italian Restaurant,Burger Joint,Salad Place
4,University of Wisconsin,"Madison, WI",44.851978,-92.616756,1,Bar,Pizza Place,Sandwich Place,Convenience Store,Golf Course,Liquor Store,Brewery,Park,Fast Food Restaurant,Mexican Restaurant
5,The Ohio State University,"Columbus, OH",40.005709,-83.028663,3,Park,Pizza Place,Grocery Store,Coffee Shop,Ice Cream Shop,American Restaurant,CafÃ©,Bar,Italian Restaurant,Bookstore
6,Penn State University,"University Park, PA",40.803448,-77.859119,0,CafÃ©,American Restaurant,Hotel,Salon / Barbershop,Park,Coffee Shop,Ice Cream Shop,Pool,Thai Restaurant,Gas Station
7,Rutgers University,"New Brunswick, NJ",40.500076,-74.445792,0,Pizza Place,Bakery,Coffee Shop,Italian Restaurant,Chinese Restaurant,Mediterranean Restaurant,Supermarket,Burger Joint,Bubble Tea Shop,Pet Store
8,Purdue University,"West Lafayette, IN",40.431958,-86.923911,0,Coffee Shop,Mexican Restaurant,Sandwich Place,Bakery,Grocery Store,Burger Joint,Park,Pizza Place,Bar,CafÃ©
9,University of Illinois,"Champaign, IL",40.141058,-88.255202,0,Mexican Restaurant,Cosmetics Shop,BBQ Joint,Clothing Store,American Restaurant,Steakhouse,Coffee Shop,Pizza Place,Bar,Chinese Restaurant
10,Michigan State University,"East Lansing, MI",42.719204,-84.477920,0,Coffee Shop,Sushi Restaurant,Bar,Grocery Store,American Restaurant,Salon / Barbershop,Ice Cream Shop,Middle Eastern Restaurant,Yoga Studio,Gym / Fitness Center
11,University of Nebraska-Lincoln,"Lincoln, NE",40.820739,-96.700491,0,Mexican Restaurant,Brewery,Coffee Shop,Burger Joint,Chinese Restaurant,Pizza Place,Bakery,Fried Chicken Joint,Grocery Store,Park
12,Indiana University,"Bloomington, IN",39.169100,-86.519790,0,Pizza Place,Grocery Store,Fast Food Restaurant,Gym / Fitness Center,Gym,American Restaurant,Brewery,Ice Cream Shop,Mexican Restaurant,Pharmacy
13,University of Iowa,"Iowa City, IA",41.665901,-91.573188,2,Grocery Store,American Restaurant,Pizza Place,Coffee Shop,Gas Station,Bakery,Ice Cream Shop,Italian Restaurant,Diner,Burrito Place

### Broad Categories

In [14]:
ven_dum_b = pd.get_dummies(venuesbyschool[['name']], prefix="", prefix_sep="")
ven_dum_b['School']=venuesbyschool['School']
ven_dum_b=ven_dum_b.drop(['College & University'], axis=1)

dum_grouped_b = ven_dum_b.groupby('School').mean().reset_index()
dum_grouped_b

,School,Arts & Entertainment,Food,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Shop & Service,Travel & Transport
0,Indiana University,0.070000,0.440000,0.050000,0.120000,0.00,0.300000,0.00
1,Michigan State University,0.060000,0.520000,0.070000,0.110000,0.00,0.200000,0.00
2,Northwestern University,0.040000,0.500000,0.030000,0.200000,0.00,0.210000,0.00
3,Penn State University,0.040000,0.450000,0.090000,0.110000,0.03,0.200000,0.04
4,Purdue University,0.050000,0.590000,0.070000,0.080000,0.00,0.180000,0.01
5,Rutgers University,0.040000,0.630000,0.040000,0.070000,0.02,0.170000,0.00
6,The Ohio State University,0.060000,0.500000,0.070000,0.160000,0.02,0.180000,0.01
7,University of Illinois,0.040000,0.530000,0.060000,0.040000,0.00,0.320000,0.01
8,University of Iowa,0.030000,0.510000,0.060000,0.070000,0.00,0.250000,0.02
9,University of Maryland,0.050000,0.470000,0.080000,0.110000,0.01,0.280000,0.00
10,University of Michigan,0.050000,0.440000,0.050000,0.170000,0.01,0.250000,0.00
11,University of Minnesota,0.150000,0.440000,0.100000,0.090000,0.03,0.190000,0.00
12,University of Nebraska-Lincoln,0.030000,0.540000,0.140000,0.090000,0.02,0.120000,0.02
13,University of Wisconsin,0.044444,0.355556,0.244444,0.111111,0.00,0.244444,0.00

In [15]:
num_top_venues = 7

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['School']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
bvenues_sorted = pd.DataFrame(columns=columns)
bvenues_sorted['School'] = dum_grouped_b['School']

for ind in np.arange(dum_grouped.shape[0]):
    bvenues_sorted.iloc[ind, 1:] = return_most_common_venues(dum_grouped_b.iloc[ind, :], num_top_venues)

bvenues_sorted

,School,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue
0,Indiana University,Food,Shop & Service,Outdoors & Recreation,Arts & Entertainment,Nightlife Spot,Travel & Transport,Professional & Other Places
1,Michigan State University,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Travel & Transport,Professional & Other Places
2,Northwestern University,Food,Shop & Service,Outdoors & Recreation,Arts & Entertainment,Nightlife Spot,Travel & Transport,Professional & Other Places
3,Penn State University,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Travel & Transport,Arts & Entertainment,Professional & Other Places
4,Purdue University,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Travel & Transport,Professional & Other Places
5,Rutgers University,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Professional & Other Places,Travel & Transport
6,The Ohio State University,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Professional & Other Places,Travel & Transport
7,University of Illinois,Food,Shop & Service,Nightlife Spot,Outdoors & Recreation,Arts & Entertainment,Travel & Transport,Professional & Other Places
8,University of Iowa,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Travel & Transport,Professional & Other Places
9,University of Maryland,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Professional & Other Places,Travel & Transport
10,University of Michigan,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Professional & Other Places,Travel & Transport
11,University of Minnesota,Food,Shop & Service,Arts & Entertainment,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Travel & Transport
12,University of Nebraska-Lincoln,Food,Nightlife Spot,Shop & Service,Outdoors & Recreation,Arts & Entertainment,Travel & Transport,Professional & Other Places
13,University of Wisconsin,Food,Shop & Service,Nightlife Spot,Outdoors & Recreation,Arts & Entertainment,Travel & Transport,Professional & Other Places

In [16]:
kclusters = 5

bgrouped_clustering = dum_grouped_b.drop('School', 1)

kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(bgrouped_clustering)

kmeans.labels_

bvenues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)
bvenues_sorted

dum_grouped_b.insert(1, 'Cluster Labels', kmeans.labels_)

bkluster = sch
bkluster= bkluster.join(bvenues_sorted.set_index('School'), on='School')
bkluster

,School,Location,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue
0,Northwestern University,"Evanston, IL",42.055116,-87.675811,3,Food,Shop & Service,Outdoors & Recreation,Arts & Entertainment,Nightlife Spot,Travel & Transport,Professional & Other Places
1,University of Michigan,"Ann Arbor, MI",42.294214,-83.710039,3,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Professional & Other Places,Travel & Transport
2,University of Minnesota,"Minneapolis, MN",44.973086,-93.237088,4,Food,Shop & Service,Arts & Entertainment,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Travel & Transport
3,University of Maryland,"College Park, MD",38.992030,-76.946103,1,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Professional & Other Places,Travel & Transport
4,University of Wisconsin,"Madison, WI",44.851978,-92.616756,2,Food,Shop & Service,Nightlife Spot,Outdoors & Recreation,Arts & Entertainment,Travel & Transport,Professional & Other Places
5,The Ohio State University,"Columbus, OH",40.005709,-83.028663,3,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Professional & Other Places,Travel & Transport
6,Penn State University,"University Park, PA",40.803448,-77.859119,3,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Travel & Transport,Arts & Entertainment,Professional & Other Places
7,Rutgers University,"New Brunswick, NJ",40.500076,-74.445792,0,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Professional & Other Places,Travel & Transport
8,Purdue University,"West Lafayette, IN",40.431958,-86.923911,0,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Travel & Transport,Professional & Other Places
9,University of Illinois,"Champaign, IL",40.141058,-88.255202,1,Food,Shop & Service,Nightlife Spot,Outdoors & Recreation,Arts & Entertainment,Travel & Transport,Professional & Other Places
10,Michigan State University,"East Lansing, MI",42.719204,-84.477920,3,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Travel & Transport,Professional & Other Places
11,University of Nebraska-Lincoln,"Lincoln, NE",40.820739,-96.700491,0,Food,Nightlife Spot,Shop & Service,Outdoors & Recreation,Arts & Entertainment,Travel & Transport,Professional & Other Places
12,Indiana University,"Bloomington, IN",39.169100,-86.519790,1,Food,Shop & Service,Outdoors & Recreation,Arts & Entertainment,Nightlife Spot,Travel & Transport,Professional & Other Places
13,University of Iowa,"Iowa City, IA",41.665901,-91.573188,1,Food,Shop & Service,Outdoors & Recreation,Nightlife Spot,Arts & Entertainment,Travel & Transport,Professional & Other Places

## Results

### Specific Categories

In [17]:
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium
import numpy as np

latitude=41.6026364
longitude=-86.1535308

map_clusters = folium.Map(location=[latitude, longitude], zoom_start=5)
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

markers_colors = []
for lat, lon, poi, cluster in zip(klusterdf['Latitude'], klusterdf['Longitude'], klusterdf['School'], klusterdf['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[int(cluster)-1],
        fill=True,
        fill_color=rainbow[int(cluster)-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [18]:
klusterdf.loc[klusterdf['Cluster Labels'] == 0,klusterdf.columns[[0]+list(range(5, klusterdf.shape[1]))]]

,School,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
6,Penn State University,CafÃ©,American Restaurant,Hotel,Salon / Barbershop,Park,Coffee Shop,Ice Cream Shop,Pool,Thai Restaurant,Gas Station
7,Rutgers University,Pizza Place,Bakery,Coffee Shop,Italian Restaurant,Chinese Restaurant,Mediterranean Restaurant,Supermarket,Burger Joint,Bubble Tea Shop,Pet Store
8,Purdue University,Coffee Shop,Mexican Restaurant,Sandwich Place,Bakery,Grocery Store,Burger Joint,Park,Pizza Place,Bar,CafÃ©
9,University of Illinois,Mexican Restaurant,Cosmetics Shop,BBQ Joint,Clothing Store,American Restaurant,Steakhouse,Coffee Shop,Pizza Place,Bar,Chinese Restaurant
10,Michigan State University,Coffee Shop,Sushi Restaurant,Bar,Grocery Store,American Restaurant,Salon / Barbershop,Ice Cream Shop,Middle Eastern Restaurant,Yoga Studio,Gym / Fitness Center
11,University of Nebraska-Lincoln,Mexican Restaurant,Brewery,Coffee Shop,Burger Joint,Chinese Restaurant,Pizza Place,Bakery,Fried Chicken Joint,Grocery Store,Park
12,Indiana University,Pizza Place,Grocery Store,Fast Food Restaurant,Gym / Fitness Center,Gym,American Restaurant,Brewery,Ice Cream Shop,Mexican Restaurant,Pharmacy

In [19]:
klusterdf.loc[klusterdf['Cluster Labels'] == 1,klusterdf.columns[[0]+list(range(5, klusterdf.shape[1]))]]

,School,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,University of Wisconsin,Bar,Pizza Place,Sandwich Place,Convenience Store,Golf Course,Liquor Store,Brewery,Park,Fast Food Restaurant,Mexican Restaurant

In [20]:
klusterdf.loc[klusterdf['Cluster Labels'] == 2,klusterdf.columns[[0]+list(range(5, klusterdf.shape[1]))]]

,School,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
3,University of Maryland,Grocery Store,Brewery,American Restaurant,Pizza Place,Coffee Shop,Convenience Store,Gym,Italian Restaurant,Burger Joint,Salad Place
13,University of Iowa,Grocery Store,American Restaurant,Pizza Place,Coffee Shop,Gas Station,Bakery,Ice Cream Shop,Italian Restaurant,Diner,Burrito Place

In [21]:
klusterdf.loc[klusterdf['Cluster Labels'] == 3,klusterdf.columns[[0]+list(range(5, klusterdf.shape[1]))]]

,School,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Northwestern University,Park,Grocery Store,Coffee Shop,Beach,Pizza Place,Bakery,Hot Dog Joint,CafÃ©,Mexican Restaurant,Mediterranean Restaurant
1,University of Michigan,Grocery Store,Park,Coffee Shop,Gym,Mexican Restaurant,Breakfast Spot,Bakery,Music Venue,Bookstore,Vegetarian / Vegan Restaurant
5,The Ohio State University,Park,Pizza Place,Grocery Store,Coffee Shop,Ice Cream Shop,American Restaurant,CafÃ©,Bar,Italian Restaurant,Bookstore

In [22]:
klusterdf.loc[klusterdf['Cluster Labels'] == 4,klusterdf.columns[[0]+list(range(5, klusterdf.shape[1]))]]

,School,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,University of Minnesota,Brewery,Park,Theater,Pizza Place,Liquor Store,Mexican Restaurant,Coffee Shop,Vietnamese Restaurant,New American Restaurant,Farmers Market

### Broad Categories

In [23]:
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium
import numpy as np

latitude=41.6026364
longitude=-86.1535308

map_clusters = folium.Map(location=[latitude, longitude], zoom_start=5)
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

markers_colors = []
for lat, lon, poi, cluster in zip(bkluster['Latitude'], bkluster['Longitude'], bkluster['School'], bkluster['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[int(cluster)-1],
        fill=True,
        fill_color=rainbow[int(cluster)-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [24]:
dum_grouped_b.loc[dum_grouped_b['Cluster Labels'] == 0,dum_grouped_b.columns[list(range(0, dum_grouped_b.shape[1]))]]

,School,Cluster Labels,Arts & Entertainment,Food,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Shop & Service,Travel & Transport
4,Purdue University,0,0.05,0.59,0.07,0.08,0.00,0.18,0.01
5,Rutgers University,0,0.04,0.63,0.04,0.07,0.02,0.17,0.00
12,University of Nebraska-Lincoln,0,0.03,0.54,0.14,0.09,0.02,0.12,0.02

In [25]:
dum_grouped_b.loc[dum_grouped_b['Cluster Labels'] == 1,dum_grouped_b.columns[list(range(0, dum_grouped_b.shape[1]))]]

,School,Cluster Labels,Arts & Entertainment,Food,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Shop & Service,Travel & Transport
0,Indiana University,1,0.07,0.44,0.05,0.12,0.00,0.30,0.00
7,University of Illinois,1,0.04,0.53,0.06,0.04,0.00,0.32,0.01
8,University of Iowa,1,0.03,0.51,0.06,0.07,0.00,0.25,0.02
9,University of Maryland,1,0.05,0.47,0.08,0.11,0.01,0.28,0.00

In [26]:
dum_grouped_b.loc[dum_grouped_b['Cluster Labels'] == 2,dum_grouped_b.columns[list(range(0, dum_grouped_b.shape[1]))]]

,School,Cluster Labels,Arts & Entertainment,Food,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Shop & Service,Travel & Transport
13,University of Wisconsin,2,0.044444,0.355556,0.244444,0.111111,0.0,0.244444,0.0

In [27]:
dum_grouped_b.loc[dum_grouped_b['Cluster Labels'] == 3,dum_grouped_b.columns[list(range(0, dum_grouped_b.shape[1]))]]

,School,Cluster Labels,Arts & Entertainment,Food,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Shop & Service,Travel & Transport
1,Michigan State University,3,0.06,0.52,0.07,0.11,0.00,0.20,0.00
2,Northwestern University,3,0.04,0.50,0.03,0.20,0.00,0.21,0.00
3,Penn State University,3,0.04,0.45,0.09,0.11,0.03,0.20,0.04
6,The Ohio State University,3,0.06,0.50,0.07,0.16,0.02,0.18,0.01
10,University of Michigan,3,0.05,0.44,0.05,0.17,0.01,0.25,0.00

In [28]:
dum_grouped_b.loc[dum_grouped_b['Cluster Labels'] == 4,dum_grouped_b.columns[list(range(0, dum_grouped_b.shape[1]))]]

,School,Cluster Labels,Arts & Entertainment,Food,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Shop & Service,Travel & Transport
11,University of Minnesota,4,0.15,0.44,0.1,0.09,0.03,0.19,0.0

## Discussion

## Conclusion